:root {
    --primary-color: #770021;
    --secundary-color: #be0049;
    --terciary-color: #ff348e;
    --quartenary-color: #ff348e;
    --text-color-dark: #000;
    --text-color-white: #fff;
    --color-ice: #f3f3f3;
    --box-shadow: #757575c7;
}