/* OVERLAY PRESENTATION */
.overlay-presentation{
    width: 50%;
    height: 100%;    
    position: absolute;
    top: 0;
    left: 0;    
    color: var(--text-color-white);
    text-align: center;
    transform: translateX(100%);
    z-index: 10;
    transition: 1s;
}
.form-title-presentation{
    font-size: 3rem;
}
.text-btnAction-presentation{
    font-size: 1.5rem;
}
.btn-presentation{
    color: var(--text-color-white);
    border-color: var(--text-color-white);
}
.btn-presentation:hover{
    background-color: var(--text-color-white);
    color: var(--secundary-color);
}
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background-color: var(--secundary-color);    
    padding: 20px;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.container-main.move .overlay-presentation{
    transform: translateX(0%);
}
.container-main.move .overlay:nth-child(2) {
    z-index: -1;
    opacity: 0;
}